<div class="form-container">
  <form
    [formGroup]="registerForm"
    class="form-register"
  >

    <div class="header-container">
      <img
        ngSrc="assets/logo-white.png"
        alt="logo"
        width="80"
        height="31"
        class="logo"
        priority
      >

      <button
        class="button-go-login"
        (click)="goLogin()"
      >
        Войти
      </button>
    </div>

    <h2>Регистрация</h2>

    <div class="input-username-container">
      <label for="input-username">Username:</label>
      <input
        placeholder="Введите имя пользователя"
        formControlName="username"
        id="input-username"
        type="text"
      />
      <div
        *ngIf="registerForm.get('username')?.invalid &&
        registerForm.get('username')?.touched"
        class="error-message"
      >
        <span *ngIf="registerForm.get('username')?.errors?.['required']">Имя пользователя обязательно</span>
        <span *ngIf="registerForm.get('username')?.errors?.['minlength']">Минимум 3 символа</span>
        <span *ngIf="registerForm.get('username')?.errors?.['maxlength']">Максимум 16 символов</span>
      </div>
    </div>

    <div class="input-password-container">
      <label for="input-password">Password:</label>
      <input
        placeholder="Введите пароль"
        formControlName="password"
        id="input-password"
        type="password"
      />
      <div
        *ngIf="registerForm.get('password')?.invalid &&
        registerForm.get('password')?.touched"
        class="error-message"
      >
        <span *ngIf="registerForm.get('password')?.errors?.['required']">Пароль обязателен</span>
        <span *ngIf="registerForm.get('password')?.errors?.['minlength']">Минимум 6 символов</span>
      </div>
    </div>

    <button
      class="button-register"
      [disabled]="!registerForm.valid"
      (click)="onRegister()"
    >
      Зарегистрироваться
    </button>
  </form>
</div>
