<div
  class="sidebar-container"
  [class.open]="isOpen"
  [class.closed]="!isOpen"
>
  <div class="header-container">
    <button
      class="close-button"
      (click)="toCloseSidebar()"
      *ngIf="isOpen"
    >
      <
    </button>

    <button
      (click)="addChat.emit()"
      class="new-chat-btn"
    >
      Новый чат
    </button>
  </div>

  <div class="chats-list">
    <div
      *ngFor="let chat of chats"
      class="chat-item"
      [class.active]="chat.id === activeChat"
      (click)="selectChat.emit(chat.id)"
    >

      <span class="chat-title">
        {{ chat.title }}
      </span>

      <button
        *ngIf="chats.length > 1"
        (click)="$event.stopPropagation();
        removeChat.emit(chat.id)"
        class="delete-btn"
      >×</button>
    </div>
  </div>
</div>

<button
  class="open-sidebar-btn"
  (click)="openSidebar()"
  *ngIf="window.innerWidth > 900"
>
  >
</button>
