<div class="container">
  <app-side-bar
    [chats]="chats"
    [activeChat]="activeChat"
    [isOpen]="sidebarIsOpen"
    (selectChat)="onSelectChat($event)"
    (addChat)="addNewChat()"
    (removeChat)="onRemoveChat($event)"
    (closeSidebar)="onCloseSidebar($event)"
  ></app-side-bar>

  <div class="chat-container">
    <button
      class="open-sidebar-btn"
      (click)="onCloseSidebar(true)"
      *ngIf="window.innerWidth <= 900"
    >
      >
    </button>

    <div class="header-container">
      <img
        ngSrc="assets/logo-white.png"
        alt="logo"
        width="80"
        height="31"
        class="logo"
      >

      <div class="user-info">
        <p
          class="username"
          *ngIf="window.innerWidth > 500"
        >
          {{ currentUser?.username }}
        </p>

        <select
          [(ngModel)]="selectAIVersion"
          class="select-ai-version"
          (change)="saveAIProviderChange()"
        >
          <option value="gemini-2.5">gemini-2.5</option>
          <option value="mistral-ai">mistral-ai</option>
        </select>

        <button
          class="logout-btn"
          (click)="toLogout()"
        >
          <img
            ngSrc="assets/icon-logout.svg"
            alt="выйти"
            width="20"
            height="20"
          >
        </button>

      </div>
    </div>

    <div class="messages" #messagesContainer>
      <div
        *ngFor="let msg of getMessages()"
        [class.user]="msg.isUser"
        class="message"
      >
        <markdown
          class="markdown-wrapper"
          [data]="msg.text"
        ></markdown>
      </div>

      <div *ngIf="isLoading" class="message loading">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>

    <div class="input-container">
      <textarea
        #textareaRef
        [(ngModel)]="userInput"
        (keyup.enter)="sendMessage()"
        (input)="adjustTextareaHeight()"
        placeholder="Введите сообщение..."
        class="input-message"
        rows="1"
      ></textarea>

      <button
        (click)="sendMessage()"
        class="send-button"
        [disabled]="isLoading || !userInput.trim()"
      >
        Отправить
      </button>
    </div>
  </div>

  <div
    *ngIf="_headerCodeService.showHtmlPreview"
    class="html-preview-modal"
    (click)="_headerCodeService.closeHtmlPreview()"
  >
    <div
      class="html-preview-container"
      (click)="$event.stopPropagation()"
    >
      <div class="html-preview-header">
        <h3 class="sim-title">HTML Страница</h3>

        <button
          class="close-button"
          (click)="_headerCodeService.closeHtmlPreview()"
        >
          ×
        </button>
      </div>

      <div class="html-preview-content">
        <iframe
          *ngIf="_headerCodeService.htmlPreviewUrl"
          [src]="_headerCodeService.htmlPreviewUrl"
          class="html-preview-iframe"
          sandbox="allow-same-origin || allow-scripts"
          loading="lazy"
        >
        </iframe>
      </div>
    </div>
  </div>
</div>
