<div class="container">
  <div class="chat-container">
    <header class="header-container">
      <img
        ngSrc="assets/logo-white.png"
        alt="logo"
        width="80"
        height="31"
        class="logo"
      >

      <button
        (click)="clearChat()"
        class="button-clear-chat"
      >
        Очистить
      </button>
    </header>

    <div class="messages">
      <div
        *ngFor="let msg of messages"
        [class.user]="msg.isUser"
        class="message"
      >
        <div class="markdown-wrapper" markdown [data]="msg.text"></div>
      </div>
      <div *ngIf="isLoading" class="message loading">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>

    <div class="input-container">
      <input
        [(ngModel)]="userInput"
        (keyup.enter)="sendMessage()"
        placeholder="Введите сообщение..."
        class="input-message"
        [disabled]="isLoading"
      >

      <button
        (click)="sendMessage()"
        class="send-button"
        [disabled]="isLoading || !userInput.trim()"
      >
        Отправить
      </button>
    </div>
  </div>
</div>
